<ion-content >
  <ion-text >
    <h2 class="title">Partidos</h2>
    <h2 class="title">de</h2>
    <h2 class="title">Metegol</h2>
  </ion-text>
  <!-- <img src="../../../assets/images/iconometegol.png"/> -->
  <form [formGroup]="loginForm">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contaseña</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>


  </form>
  <ion-row>
    <ion-col>
      <ion-button (click)="Login()" type="submit" color="primary" expand="block"  [disabled]="!loginForm.valid">Ingresar</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="testUser(1)" color="success" expand="block">
        Test User 1 
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="testUser(2)" color="warning" expand="block">
        Test User 2
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>


